
.main-container{
  background-color: #0056b3;
  height: 100vh;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heading{
  color: rgb(13, 106, 160);
  font-size: 30px;
}

.form-container{
  width: 50% !important;
  margin: 0 auto;
  padding: 40px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.inputEl{
  width: 300px !important;
  border-radius: 7px;
  font-size: 14px;
}



.login-button {
  width: 330px !important;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
.create-account-btn{
  border: none;
  background-color: transparent;
  color: black;
  font-size: 14px;
  font-weight: bold;
  color: rgb(13, 106, 160);

}
.create-account-para{
  font-weight: 600px;
  font-size: 16px;
  margin-top: 6px;
  text-align: center;

}
.create-account-btn:hover{
  background-color: transparent;
  color: brown;
}